/* App.css */

/* Importing fonts from Google */


.login-background{
/* background-color: #a88fd8; */

 /* background-image: url('../../../public/assets/images/caro/caronew.jpg'); */

background-blend-mode: lighten;
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
}
/* Style for the eye icon */
/* .eye-icon {
    position: absolute;
    top: 0%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;

  } */
  
  /* Style for the eye icon when password is visible */
  /* .eye-icon.open {
    color: #d61e1e; 
  } */
  .eye-icon {
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: absolute;
    top: 67%;
    bottom: 0%;
    right: 0%;
  }
  
  .eye-icon:hover {
    color: #007bff; /* Change to desired hover color */
  }

  /* CSS for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333; /* Color of the close button */
  }
  
  .close-button:hover {
    color: #000; /* Hover color of the close button */
  }
  
  @media (max-width: 340px) {
    .eye-icon {
      top: 59%;
      width: 10%;
      height: 10%;
      right: 8px; /* Adjust as needed */
      transform: translateY(-50%);
    }
  }

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}
/* Login.css */

/* Apply glassmorphism effect to the card */
.card {
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Add padding */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Shadow effect */
  }
  
  /* Style the form inputs and buttons */
 
.wrapper .btn:hover {
    background-color: #039BE5;
}
.forgot{
    color: #000000;

}
.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
@media(max-width: 320px) {
h1{
font-size: 25px;
}}
@media (max-width: 320px) {
    .card-body {
      text-align: center;
    }
  
    .d-flex.flex-column.align-items-center.justify-content-center .btn {
      display: block;
      margin: 0 auto;
    }
  }
  